{% load cms_tags %}
{% load sekizai_tags %}
{% load static %}

{% addtoblock "js" %}
    <script>
        $("document").ready(function () {
            $("body").vegas({
                slide: {{ instance.slide }},
                timer: {% if instance.timer %}true{% else %}false{% endif %},
                autoplay: {% if instance.autoplay %}true{% else %}false{% endif %},
                loop: {% if instance.loop %}true{% else %}false{% endif %},
                delay: {{ instance.delay }},
                transitionDuration: {{ instance.transitionDuration }},
                firstTransition: '{{ instance.firstTransition }}',
                transition: '{{ instance.defaultTransition }}',
                slides: [
                    {% for plugin in instance.child_plugin_instances %}
                        {% if plugin.image %}
                        {src: "{{ plugin.image.url }}", overlayText: `{% if plugin.caption %}{{ plugin.caption|safe }}{% endif %}`},
                        {% endif %}
                        {% if plugin.video %}
                        {
                            src: "{{ plugin.poster.url }}",
                            video: {
                            src: [
                                '{{ plugin.video.url }}'
                            ],
                            loop: {% if plugin.loop %}true{% else %}false{% endif %},
                            mute: {% if plugin.mute %}true{% else %}false{% endif %},
                            overlayText: `{% if plugin.caption %}{{ plugin.caption|safe }}{% endif %}`
                          }
                        },
                        {% endif %}
                    {% endfor %}
                ]
            });
        });
    </script>
{% endaddtoblock %}

{% addtoblock "js" %}
    <script src="{{ app_settings.JS_URL }}"></script>
{% endaddtoblock %}

{% addtoblock "css" %}
    <link rel="stylesheet" type="text/css" href="{{ app_settings.CSS_URL }}">
    <style type="text/css">
        .vegas-overlay-text {
            position: absolute;
            top: 100px;
            left: 30px;
            font-size: 20px;
        }
    </style>
{% endaddtoblock %}

{# https://github.com/divio/django-cms/issues/5085 #}
<div style="display: none;">
    {% for plugin in instance.child_plugin_instances %}
        {% render_plugin plugin %}
    {% endfor %}
</div>